# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js build output
.next/
out/
build/
dist/

# Local environment variables & examples
.env
.env*
.env.example
.env*.example
.env.example.*
*.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local
.env.staging
.env.vault

# Vercel deployment cache
.vercel

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS & Editor metadata
.DS_Store
Thumbs.db
.vscode/
.idea/
